body {
    text-align: center;
    font-family: Bebas Neue;
    background-color: rgb(177, 253, 0);
}

.quadrado{
    text-align: center;
    width: 45px;
    background: #eee;
    display: inline-block;
    padding: 30px;
    font-size: 50px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
    border-radius: 10px;
    font-family: Bebas Neue;
}

.jogador{
    font-size: 30px;
    margin-top: 10px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: blue;

}


.vencedor{
    font-size: 30px;
    margin-top: 10px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: green;
}

button{
    margin-top: 10px;
    width: 120px;
    height: 36px;
    font-size: 23px;
    background-color: #eee;
    cursor: pointer;
    font-family: Bebas Neue;
}

button:hover {
    background-color: gray;
    color: white;
}